.container
  %h1 Product Entry
  = simple_form_for @product, :html => {:class => 'form-horizontal' } do |f|
    = f.input :name, :required => true
    = f.input :item_code, :required => true
    = f.input :description
    = f.input :real_price
    = f.input :variable_cost_percent
    = f.input :sale_price
    = f.input :quantity

    .form-actions
      = f.button :submit, 'Submit', :class=> "btn btn-primary"
