!!!
%html
  %head
    %title Shreeyam
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        %a.close{"data-dismiss" => "alert"}
          &times;
        = content_tag :div, msg, :id => "flash_#{name}"
  .container

  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => products_list_path}
          Products List
        %a.brand{:href => products_path}
          Products
        %a.brand{:href => sales_path}
          Sales
        .nav-collapse.collapse
          %ul.nav.pull-right
            %li
              = link_to t('Contact'), new_contact_path
              %li
    = yield
